<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    
    <title>Document</title>
</head>
<body>
    
    <div id="main" class="c2"></div>
        <div id="secondary"class="c2">
            <div class="chat-container">
                <div class="chat">

                    <!-- Add more chat messages here -->
                </div>
                <input id="inp" type="text" placeholder="Type your message...">
                <button id="btn">Send</button>
            
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>