<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
</head>
<body>
    <input type="text" name="name" id="inp_room_name">
    <button onclick="createRoom()">Create</button>
    <button onclick="joinRoom()">Join</button>
    <button onclick="sendMsgInRoom()">send Message</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>